{% extends 'core/base.html' %}

{% block title %}Login{% endblock title %}

{% block content %}
<div class="container-fluid bg-warning">
    <div class="row py-5 px-3">
        <div class="col-md-4 offset-md-4 border rounded shadow-lg bg-info my-5 py-4">
            <div class="h2 alert alert-secondary text-center m-4 shadow">User Login</div>
            <form method="POST" novalidate>
                {% csrf_token %}
                {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                <p class="text-center shadow alert alert-warning mb-4 mx-4">{{error}}</p>
                {% endfor %}
                {% endif %}
                {% for fm in form %}
                <div class="m-4">
                    {{fm.label_tag}} {{fm}} <small>{{fm.errors|striptags}}</small>
                </div>
                {% endfor %}
                <div class="text-center mb-3 d-grid px-4">
                    <button type="submit" class="btn btn-primary shadow">Login <i class="fas fa-sign-in-alt"></i></button>
                </div>
            </form>
        </div>
        <div class="my-5 my-md-0"></div>
    </div>
</div>
{% endblock content %}