{% extends 'core/base.html' %}

{% block title %}Products{% endblock title %}

{% block content %}
<div class="container-fluid p-5 products shadow-lg">
    <div class="container text-light my-5">
        <div>
            <h1 class="display-4">Products</h1>
        </div>
        <div class="lead">
            <p>available in your city.</p>
        </div>
    </div>
</div>
<div class="container-fluid p-4 bg-warning">
    {% if products %}
    <div class="row justify-content-center">
        {% for product in products %}    
        <div class="card m-2 shadow" style="width: 20rem;">
            <div class="card-body">
                <h5 class="card-title">{{product.title|capfirst}}</h5>
                <p class="card-text">{{product.description|capfirst}}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">M.R.P.: &#8377;<span class="text-decoration-line-through">{{product.mrp}}</span>/-</li>
                <li class="list-group-item">Price: &#8377;{{product.selling_price}}/-</li>
                <li class="list-group-item">Seller: {{product.seller.get_full_name|capfirst}}</li>
                <li class="list-group-item text-muted">Publish Date: {{product.date|date:"d M Y"}}</li>
                <li class="list-group-item text-muted">Location: {{product.location}}</li>
              </ul>
            <a href="#" class="btn btn-primary m-3">Buy</a>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="my-md-0 my-5 py-md-0 py-4">
        <div class="h2 text-center alert alert-secondary my-5">We are sorry, there is not any product available at your location.</div>
    </div>
    {% endif %}
</div>
{% endblock content %}